---
import Badge from "../components/Badge.astro";
import Experience from "../components/Experience.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../icons/GitHubIcon.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
import MailIcon from "../icons/MailIcon.astro";
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import BriefcaseIcon from "../icons/BriefcaseIcon.astro";
import Code from "../icons/CodeIcon.astro";
import Projects from "../components/Projects.astro";
---

<Layout
  title="Portfolio de Pablo - Desarrollador y Programador Web"
  description="Portfolio de Pablo, desarrollador web especializado en Angular y Astro. Creador de interfaces dinámicas y eficientes para una experiencia de usuario excepcional."
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-24">
      <img
        class="rounded-full size-12 mb-2"
        src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZXxlbnwwfHwwfHx8MA%3D%3D"
        alt="pablo photo"
      />
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl 
        font-bold flex justify-start items-center 
        flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, soy Pablo
        <a
          href="https://www.linkedin.com/in/pablo-rodriguez-albarran-41a65a2a6/"
          target="_blank"
          rel="noopener noreferrer"
          class="flex justify-center items-center"
        >
          <Badge>Disponible parar trabajar</Badge>
        </a>
      </h1>
      <h2 class="lg:text-2xl text-xl text-wrap max-w-[700px]">
        +5 meses de experiencia. <span class="text-yellow-200/90"
          >Desarrollador web.</span
        >
        <span class="text-red-200/90">De Alicante, España.</span>
        <span class="opacity-75">
          Especializado en desarrollo frontend con Angular y Astro, creo
          interfaces dinámicas y eficientes para una experiencia de usuario
          excepcional.
        </span>
      </h2>

      <nav class="flex gap-4 mt-6 flex-wrap">
        <SocialPill
          href="https://www.linkedin.com/in/pablo-rodriguez-albarran-41a65a2a6/"
        >
          <LinkedInIcon class="md:size-6 size-4" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/pablorod1">
          <GitHubIcon class="md:size-6 size-4" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:pablorodriguezalbarran2000@gmail.com">
          <MailIcon class="md:size-6 size-4" />
          pablorodriguezalbarran2000@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experience">
      <h2 class="text-3xl font-semibold mb-6 flex items-center gap-x-2">
        <BriefcaseIcon class="size-8" />
        Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects">
      <h2 class="text-3xl font-semibold mb-6 flex items-center gap-x-2">
        <Code class="size-8" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>

<style></style>
