<footer class="rounded-lg shadow m-4 bg-black/20 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-10">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="text-smsm:text-center text-yellow-100">© 2023 <a href="https://flowbite.com/" class="hover:underline">Flowbite™</a>. All Rights Reserved.
  </span>
  <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
      <li>
          <a href="#about" class="hover:underline me-4 md:me-6">Sobre mí</a>
      </li>
      <li>
        <a href="#experience" class="hover:underline me-4 md:me-6">Experiencia</a>
      </li>
      <li>
        <a href="#projects" class="hover:underline me-4 md:me-6">Proyectos</a>
      </li>
      <li>
          <a href="#" class="hover:underline">Contacto</a>
      </li>
  </ul>
  </div>
</footer>
