<header class="flex justify-between items-center py-3 w-[1120px] mx-auto">
  <img
    class="rounded-full w-12 h-12"
    src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZXxlbnwwfHwwfHx8MA%3D%3D"
    alt="pablo photo"
  />

  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="/">Página Principal</a>
    <a href="/about">Sobre mí</a>
    <a href="/projects">Proyectos</a>
    <a href="/contact">Contacto</a>
  </nav>
</header>
